@use '@styles/variables.scss' as *;
@use '@styles/breakpoints.scss' as *;

.create {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(290px, 70vw, 70vw);
  border-radius: 12px;
  background-color: $white-color;

  @include tablet {
    flex-direction: row;
    align-items: start;
    max-width: 770px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;

    @include tablet {
      flex-direction: row;
      align-items: start;
    }
  }

  &__input {
    margin: 40px 20px 30px 20px;
    padding-left: 20px;
    width: clamp(280px, 65vw, 570px);
    height: 50px;
    font-size: 17px;
    background-color: $altwhite-color;
    border-radius: 6px;
    border: 1px solid #e7e8ea;

    @include tablet {
      width: 305px;
    }
  }

  &__button {
    width: 280px;
    height: 50px;
    font-size: 17px;
    color: $white-color;
    background-image: linear-gradient(
      163deg,
      rgb(255, 142, 100) 0%,
      rgb(255, 230, 65) 100%
    );

    @include tablet {
      width: 165px;
      margin-top: 40px;
    }
  }

  &__line {
    height: 1px;
    color: #e7e8ea;
  }
}
