$light-weight: 300;
$regular-weight: 400;
$bold-weight: 700;
$extraBold-weight: 800;

$white-color: #fff;
$blue-color: #5586f2;
$black-color: #282b31;
$grey-color: #f8f9fa;

$tablet-width: 768px;
$desktop-width: 1440px;
