$light-weight: 300;
$regular-weight: 400;
$bold-weight: 700;
$extraBold-weight: 800;

$white-color: #fff;
$altwhite-color: #f8f9fa;
$blue-color: #5586f2;
$black-color: #282b31;
$grey-color: #f8f9fa;
$altgrey-color: #676c75;
$timer-color: #e7e8ea;
$pausetimer-color: rgba(255, 72, 118, 0.15);
$footertext--color: #999ea8;
$border--color: #e7e8ea;
$hover--color: rgba(103, 108, 117, 0.7);

$tablet-width: 768px;
$desktop-width: 1440px;
